<div class = "column">
	<h2><%= dreamtype.dreamtype %></h2>
	<p><%= dreamtype.description %></p>
	<p>Horror Rating: <%= dreamtype.horror_rating %></p>
	<% if show_deets %>
	<p>
		<%= link_to "View Products", dreamtype %>
	</p>
	<% end %>
	<% if show_back %>
	<p>
		<% dreamtype.products.each do |dream| %>
		<p><%= link_to dream.name, product_path(dream) %></p>
		<% end %>
		<%= link_to "Back", dreamtypes_path %>
	</p>
	<% end %>
</div>