<div class = "column">

	<h2><%= product.name %></h2>
	<p><%= product.description %></p>
	<p><%= image_tag product.image.url, :width => '150' unless product.image.url.nil?  %></p>
	<p><%= product.price_per_unit %></p>
	
<div id ="cart">
    <% if product.stock.zero? %>
    		<p>0UT OF STOCK</p>
    <% else %>
      <%= form_for product, :url => shopping_items_path, :html => { :method => :post } do |f|%>
      <%= f.hidden_field :products_id, value: product.id %>
    	<%= f.number_field :quantity, value: 1, min: 1 %>
      <%= f.submit 'Add to Bag', class: "btn btn-dark" %>
      <% end %>
    <% end %>
</div>
	<% if show_deets %>
	<p>
		<%= link_to "View Details", product %>
	</p>
	<% end %>
	<% if show_back %>
	<p>
		<%= link_to "Dreamtype Listing", dreamtype_path(product.dreamtype) %>
	</p>
	<p>
		<%= link_to "Products Listing", root_path %>
	</p>
	<% end %>