<!DOCTYPE html>
<html>
<head>
  <title>Dream Emporium</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
   <div class="row">
    <div class="col-xs-3">
      <nav class ="navbar">
        <p><%= link_to "About", about_path %></p>
        <p><%= link_to "Contact", contact_path %></p>
        <p><%= link_to "All Products Listing", root_path %></p>
        <p><%= link_to "All Dreamtypes Listing", dreamtypes_path %></p>
      <p><%= link_to "Shopping Cart", shopping_bags_path %></p>
         <% if !session[:customer_name] %>
      <p><%= link_to "Login", login_url %></p>
      <% else %>
      <p><%= link_to "Outstanding Orders", outstanding_url %></p>
      <p><%= link_to "Logout", logout_url %></p>
       <% end %>
      </nav>
    </div>
        <div class="col-xs-7">
      <%= yield %>
    </div>
  </div>

   <% if session[:customer_name] %>
 <p>Logged In As: <%= session[:customer_name] %></p>
 <% end %>

</div>
</body>
</html>
