<!DOCTYPE html>
<html>
<head>
  <title>Dream Emporium</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
   <div class="row">
    <div class="col-xs-3">
      <nav class ="navbar">
        <ul><%= link_to "About", about_path %></ul>
        <ul><%= link_to "Contact", contact_path %></ul>
        <ul><%= link_to "All Products Listing", root_path %></ul>
        <ul><%= link_to "All Dreamtypes Listing", dreamtypes_path %></ul>
                <ul><%= link_to "Shopping Cart", shopping_bags_path %></ul>
      </nav>
    </div>
        <div class="col-xs-7">
      <%= yield %>
    </div>
  </div>

   <% if session[:customer_name] %>
 <p>Logged In As: <%= session[:customer_name] %></p>
 <% end %>

</div>
</body>
</html>
